---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar</a>.
  </div>
{% endif %}

{% include base_path %}

<h2>Published Works:</h2>
  <ul>
    <li>
      Hong, B.<sup>+</sup>, Chen J.<sup>+</sup>, Huang, W.J., & Li L.* (2024).
      Serial dependence in smooth pursuit eye movements of preadolescent children and adults.
      <i>Investigative Ophthalmology & Visual Science, 65(14), 37-37.</i> <a href=" https://doi.org/10.1167/iovs.65.14.37">[Link]</a>
      Media coverage: <a href="https://bcs.shanghai.nyu.edu/en/news/reseach-hightlights/how-do-our-eyes-help-us-navigate-new-study-looks-clever-brain-shortcut">[“How Do Our Eyes Help Us Navigate? New Study Looks at Clever Brain ‘Shortcut’”Link]</a>
    </li>
    <li>
      Hong, B., Zhang, L., & Sun, H. (2019).
      Measurement of the Vertical Spatial Metaphor of Power Concepts Using the Implicit Relational Assessment Procedure.
      <i>Frontiers in Psychology, 10, 1422.</i> <a href="https://doi.org/10.3389/fpsyg.2019.01422">[Link]</a>
    </li>
    <li>
      Fan, X. R., Wang, Y. S., ... Hong. B., …& Zuo, X. N. (2023). 
      A longitudinal resource for population neuroscience of school-age children and adolescents in China. 
      </i>Scientific data, 10(1), 545.</i><a href="https://doi.org/10.1038/s41597-023-02377-8 ">[Link]</a>
    </li>
  </ul>
<h2>Manuscripts Submitted or in Preparation:</h2>
  <ul>
     
    <li>
      Hong, B., Chen J., & Li L.* (To be submitted).
      Neural evidence of serial dependence in ocular tracking. 
       
    </li>
     <li>
      Hong, B., Chen J., & Li L.* (To be submitted).
      Temporal dynamics of serial dependence in ocular tracking.
       
    </li>
    
     <li>
      Hong, B.<sup>+</sup>, Zhou, Y.T.<sup>+</sup>, Ji, Y.L., & Li, L.* (In preparation).
      A Bayesian account of asymmetric center bias in forward and backward heading perception.
       
    </li> 
     <li>
      Ji, Y.L.<sup>+</sup>, Hong, B.<sup>+</sup>, & Li, L.* (In preparation). 
      Temporal dynamics of judging heading and scene-relative object motion from optic flow.
       
    </li> 
    <li>
      Huang, W.J.<sup>+</sup>, Chen J.<sup>+</sup>, Hong, B., Wang, Y., S., Zuo, X., N.*, & Li, L.* (To be submitted).
      Investigating Brain Structural Correlates of Ocular Tracking in Preadolescent Children and Young Adults.
       
    </li>
  </ul>