---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;">
  <a href="/talkmap.html">See a map of all the places I've given a talk!</a>
</p>
{% endif %}

<ul>
  {% for talk in site.talks reversed %}
    <li>
      <strong>{{ talk.date | date: "%B %Y" }}:</strong>
      <a href="{{ talk.permalink }}">{{ talk.title }}</a> - {{ talk.venue }}, {{ talk.location }}<br>
      
      {% if talk.video_url %}
        🎥 <a href="{{ talk.video_url }}" target="_blank">Watch Video</a><br>
      {% endif %}
      
      {% if talk.file_url %}
        {% if talk.type == "Talk" %}
          📑 <a href="{{ talk.file_url }}" target="_blank">View Slides</a><br>
        {% elsif talk.type == "Poster" %}
          🖼️ <a href="{{ talk.file_url }}" target="_blank">View Poster</a><br>
        {% endif %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
