---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;">
  <a href="/talkmap.html">See a map of all the places I've given a talk!</a>
</p>
{% endif %}

<h2>Talks</h2>
<hr />
<ul>
  {% for talk in site.talks reversed %}
    {% if talk.type == "Talk" %}
      <li>
        <strong>{{ talk.date | date: "%B %Y" }}:</strong>
        <a href="{{ talk.permalink }}">{{ talk.title }}<br>- {{ talk.venue }}, {{ talk.location }}<br>

        {% if talk.video_url %}
          🎥 <a href="{{ talk.video_url }}" target="_blank">Watch Video</a><br>
        {% endif %}

        {% if talk.file_url %}
          📑 <a href="{{ talk.file_url }}" target="_blank">View Slides</a><br>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Posters</h2>
<hr />
<ul>
  {% for talk in site.talks reversed %}
    {% if talk.type == "Poster" %}
      <li>
        <strong>{{ talk.date | date: "%B %Y" }}:</strong>
        <a href="{{ talk.permalink }}">{{ talk.title }}<br> - {{ talk.venue }}, {{ talk.location }}<br>

        {% if talk.file_url %}
          🖼️ <a href="{{ talk.file_url }}" target="_blank">View Poster</a><br>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
